.git
.gitignore
node_modules
vendor
storage/*.key
.env
.env.local
.env.production
docker-compose.yml
docker-compose.override.yml
README.md
composer.lock
yarn.lock
package-lock.json
.DS_Store
Thumbs.db
/public/upload/
/public/storage
/tests
/coverage